@import url("general-body-style.css");

/********************* About Page ********************/
.about-image {
    margin-top: 25px;
}

.about-image path:nth-child(1) {
    stroke-dasharray: 178.193603515625px;
    stroke-dashoffset: 178.193603515625px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(2) {
    stroke-dasharray: 231.61740112304688px;
    stroke-dashoffset: 231.61740112304688px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(3) {
    stroke-dasharray: 232.92282104492188px;
    stroke-dashoffset: 232.92282104492188px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(4) {
    stroke-dasharray: 1930.7584228515625px;
    stroke-dashoffset: 1930.7584228515625px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(5) {
    stroke-dasharray: 41.35530471801758px;
    stroke-dashoffset: 41.35530471801758px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(6) {
    stroke-dasharray: 5135.8154296875px;
    stroke-dashoffset: 5135.8154296875px;
    animation: lineAnimation 8s ease-out forwards 1s;
}

.about-image path:nth-child(7) {
    stroke-dasharray: 117.1259994506836px;
    stroke-dashoffset: 117.1259994506836px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(8) {
    stroke-dasharray: 990.65576171875px;
    stroke-dashoffset: 990.65576171875px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(9) {
    stroke-dasharray: 59.12592697143555px;
    stroke-dashoffset: 59.12592697143555px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(10) {
    stroke-dasharray: 195.79405212402344px;
    stroke-dashoffset: 195.79405212402344px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(11) {
    stroke-dasharray: 15.298019409179688px;
    stroke-dashoffset: 15.298019409179688px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(12) {
    stroke-dasharray: 57.092735290527344px;
    stroke-dashoffset: 57.092735290527344px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(13) {
    stroke-dasharray: 146.21896362304688px;
    stroke-dashoffset: 146.21896362304688px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(14) {
    stroke-dasharray: 36.491966247558594px;
    stroke-dashoffset: 36.491966247558594px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(15) {
    stroke-dasharray: 26.203290939331055px;
    stroke-dashoffset: 26.203290939331055px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(16) {
    stroke-dasharray: 35.56035614013672px;
    stroke-dashoffset: 35.56035614013672px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(17) {
    stroke-dasharray: 79.74201965332031px;
    stroke-dashoffset: 79.74201965332031px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(18) {
    stroke-dasharray: 33.49245071411133px;
    stroke-dashoffset: 33.49245071411133px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(19) {
    stroke-dasharray: 99.38265228271484px;
    stroke-dashoffset: 99.38265228271484px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(20) {
    stroke-dasharray: 41.82054901123047px;
    stroke-dashoffset: 41.82054901123047px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(21) {
    stroke-dasharray: 13.527078628540039px;
    stroke-dashoffset: 13.527078628540039px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(22) {
    stroke-dasharray: 98.37309265136719px;
    stroke-dashoffset: 98.37309265136719px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(23) {
    stroke-dasharray: 15.919197082519531px;
    stroke-dashoffset: 15.919197082519531px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(24) {
    stroke-dasharray: 242.05819702148438px;
    stroke-dashoffset: 242.05819702148438px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-image path:nth-child(25) {
    stroke-dasharray: 53.62704849243164px;
    stroke-dashoffset: 53.62704849243164px;
    animation: lineAnimation 2.6s ease forwards 0.5s;
}

.about-header {
    opacity: 0;
    font-size: 36px;
    animation: fade 3s ease-out .9s forwards; 
}

.text-revealer {
    z-index: -1;
    margin-bottom: 35px;
    align-self: flex-start;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.text-revealer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    background-color: white;
}

#revealer1::before {
    animation: showText 1s ease .8s;
}

.about-par {
    color: white;
    max-width: 550px;
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    align-self: stretch;
}

@media screen and (max-width: 1150px) {
    .page-body {
        margin-top: 160px;
    }

    .main-page-content {
        flex-direction: column;
    }

    .about-image {
        margin-top: -40px;
    }

    .text-revealer {
        margin-top: 45px;
        align-self: center;
    }
    
    .about-par {
        max-width: 850px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 920px) {
    .page-body {
        margin-top: 120px;
    }

    .about-image {
        max-width: 353px;
        max-height: 469px;
    }

    .text-revealer {
        margin-top: 0px;
    }

    .about-par {
        max-width: 550px;
    }
}

@media screen and (max-width: 630px) {
    .about-par {
        max-width: 390px;
    }
}
/******************* End About Page ******************/