@import url("general-body-style.css");

/******************** Contact Page *******************/
#contact-page-content {
    margin-top: 43px;
    min-height: 80vh;
}

.contact-box {
    width: 400px;
    background-color: #000000;
    display: flex;
}

.contact-header {
    opacity: 0;
    font-size: 36px;
    animation: fade 3s ease-out .9s forwards; 
}

.text-revealer {
    z-index: -1;
    margin-bottom: 10px;
    align-self: flex-start;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.text-revealer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    background-color: white;
}

#revealer3::before {
    animation: showText 1s ease .8s;
}

form {
    margin-bottom: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(80, 193, 154);
    color: #FFFFFF;
    background-color: black;
    border-radius: 14px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
    resize: none;
}

.btn {
    height: 35px;
    border-radius: 20px;
    color: #FFFFFF;
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(80, 193, 154);
    font-size: 12px;
    border: none;
    cursor: pointer;
}

#status {
    width: 285px;
    height: 35px;
    text-align: center;
    margin: 18px 0px 0px 10px;
    padding-top: 8px;
    border-radius: 20px;
    color: white;
}

#status.success {
    background-color: rgb(80, 193, 154);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    animation: status 4s ease forwards;
}

.location-map {
    z-index: -1;
    border-radius: 20px;
    filter: grayscale(100%) invert(100%) contrast(100%);
}

@media screen and (max-width: 1080px) {
    .page-body {
        margin-top: 70px;
    }

    .main-page-content {
        flex-direction: column;
    }

    .text-revealer {
        align-self: center;
    }

    .contact-box {
        margin-bottom: 25px;
    }

    .location-map {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 768px) {
    .contact-box {
        max-width: 280px;
        margin-right: 120px;
    }
}

@media screen and (max-width: 630px) {
    .location-map {
        width: 430px;
    }
}

@media screen and (max-width: 570px) {
    .location-map {
        width: 330px;
        height: 330px;
    }
}
/****************** End Contact Page *****************/