@import url("general-body-style.css");
@import url("contact-style.css");

/********************** Nav Bar **********************/
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;                              /* a flex container expands items to fill available free space or shrinks them to prevent overflow. */
    justify-content: space-around;              /* attribute used to position the elements. every item will have space before, between and after them. */
    align-items: center;                        /* aligns items at the center of the container */
    min-height: 10.5vh;                         /* minimum height of the nav-bar */
    background-color:  black;                 /* Alt colors: rgb(31, 40, 51); */
    text-transform: uppercase;
    font-weight: 500;                           /* Montserrat font only goes to weight: 500 before getting bold*/
}

.main-logo {
    margin-top: 3px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;                                 /* nav bar will occupy 30% of the space where it's inserted in */
}

.nav-links li {
    list-style: none;                           /* removes any list style, like the dots */
    padding: 7px 7px 7px 10px;
    border-radius: 5px;
    transition: .8s ease-out background-color;
}

.nav-links li:hover {
    background-color: rgb(80, 193, 154);
}

.burger-menu-adjustment {
    opacity: 0;
}

.nav-links a {
    color: #FFFFFF;                             /* rgb(80, 193, 154); */
    text-decoration: none;                      /* removes any link style, like the underline */
    letter-spacing: 3px;
    font-size: 1.3em;
}
/******************** End Nav Bar ********************/


/******************** Burger Menu ********************/
.burger {
    display: none;                              /* starts invisible, because it only works on certain screens */
}

.burger div {                                   /* defines the 3 lines of the burger menu "icon" */
    width: 25px;                                /* width of each stripe */
    height: 3px;                                /* height of each stripe */
    background-color: rgb(80, 193, 154);      /* defines the color of the burger menu "icon" */
    margin: 5px;                                /* margin between the stripes */
    border-radius: 50px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1179px) {
    .nav-links {
        width: 55%;
    }
}

/*
@media screen and (max-width: 1024px) {
    .nav-links {
        max-width: 60%;
    }
}
*/

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;                     /* unables the browser to scroll horizontally (to the hidden burger menu). NOTE: when viewport is present on the HTML, overflow is ignored. */
    }

    .nav-links {
        position: fixed;                        /* fixes the position of the burger menu so that in mobile devices scrolling sideways doesn't show the white bar (fixes the problem described on line's 15 NOTE) */
        right: 0px;
        height: 92vh;
        top: 10.50vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);            /* moves the entire burger menu off the screen, to stay hidden */
        transition: transform 0.7s ease-in-out; /* transition of the burger menu. takes 0.7s and makes it smoother on the beginning and the end */
    }

    .nav-links a {
        color: rgb(80, 193, 154);
    }

    .nav-links li {
        opacity: 0;                             /* hides the burger menu elements */
    }

    .nav-links li:hover {
        background-color: transparent;
    }

    .burger {
        display: block;                         /* displays the items on top of each other */
        cursor: pointer;                        /* adds a pointer to the burger menu "icon", which makes it clickable */
    }
}

.nav-active {
    transform: translateX(0%);                  /* Unhides the burger menu */
}

@keyframes navLinkFade {                        /* animation responsible for the fade in of the burger menu elements */
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {                    
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/****************** Burger Menu End ******************/