.main-body {
    background-color: black;
}

h1, h2, h3 {
    color: rgb(85, 233, 188);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    color: rgb(85, 233, 188);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

hr {
    color: rgb(85, 233, 188);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}