.burger {
    display: none;                                  /* starts invisible, because of the width of the screen */
    cursor: pointer;                                /* adds a pointer to the burger menu, which makes it clickable */
}

.burger div {
    width: 25px;
    height: 3px;
    color: rgb(85, 233, 188);
    background-color: rgb(85, 233, 188);
    margin: 5px;
}

@media screen and (max-width: 900px) {              /* this defines that the menu shows up when the screen size is under 900px */
    body {
        overflow-x: hidden;                         /* unables the browser to scroll to the hidden burger menu (transform: translateX(100%) */
    }

    #nav-bar ul {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10.5vh;
        width: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);                /* moves the entire burger menu off the screen, to stay hidden */
    }

    #nav-bar li {
        opacity: 0;
    }

    .burger {
        display: block;                             /* makes the burger menu appear */
    }
}