.burger {
    display: none;                                  /* starts invisible, because of the width of the screen */
    cursor: pointer;                                /* adds a pointer to the burger menu, which makes it clickable */
}

.burger div {                                       /* defines the 3 lines of the burger menu "icon" */
    width: 25px;                                    /* width of each stripe */
    height: 3px;                                    /* height of each stripe */
    background-color: rgb(80, 193, 154);          /* defines the color of the burger menu "icon" */
    margin: 5px;
}

@media screen and (max-width: 768px) {              /* this defines that the menu shows up when the screen size is under 768px */
    body {
        /* overflow-x: hidden;                         unables the browser to scroll to the hidden burger menu (transform: translateX(100%). NOTE: when viewport is present on the HTML, overflow is ignored. */
        max-width: 100%;                            /* */
    }

    .nav-list {
        position: fixed;                            /* fixes the position of the burger menu so that in mobile devices scrolling sideways doesn't show the white bar (fixes the problem described on line's 15 NOTE) */
        right: 0px;
        height: 92vh;
        top: 10.50vh;
        width: 78.7%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);                /* moves the entire burger menu off the screen, to stay hidden */
        transition: transform 0.5s ease-in;
    }

    .nav-list li {
        opacity: 1;                                 /* hides the burger menu elements */
    }

    .burger {
        display: block;                             /* makes the burger menu appear */
    }
}

.nav-active {
    transform: translateX(0%);
}

/*
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
*/