.nav-bar {
    display: flex;                              /* a flex container expands items to fill available free space or shrinks them to prevent overflow. */
    justify-content: space-around;              /* attribute used to position the elements. every item will have space before, between and after them. */
    align-items: center;                        /* aligns items at the center of the container */
    min-height: 9vh;                            /* minimum height of the nav-bar */
}

.nav-list {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;     
    text-transform: uppercase;

}

.nav-list li {
    display: inline;                            /* items are positioned inline */
    list-style: none;                           /* removes any list style, like the dots */
    padding: 15px 0px 10px 10px;
    margin: 0px;
    width: 30%;                                 /* nav bar items always occupy 30% of the width of the screen */
}

.nav-list li:hover {
    background-color: white;
}

.nav-list li:last-child {
    padding-right: 8px;
}

.nav-list a {
    color: rgb(80, 193, 154);
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 3px;
}